docker/db/data/

__pycache__/
*.pyc

*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.env
.venv
venv/
ENV/
env.bak/
bin/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg